<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="construction is awesome bootstrap responsive construction business theme">
    <meta name="keywords" content="construction, business, construction business, responsive, parallax, business theme">
    <meta name="author" content="templateninja">
    <title>Construction</title>

    <!-- Bootstrap -->
    <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:300,500" rel="stylesheet">
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/Pe-icon-7-stroke.css" rel="stylesheet">
    <link href="assets/css/owl.carousel.css" rel="stylesheet">
    <link href="assets/css/owl.theme.css" rel="stylesheet">
    <link href="assets/css/magnific-popup.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/css/style.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="assets/plugins/html5shiv.min.js"></script>
      <script src="assets/plugins/respond.min.js"></script>
    <![endif]-->
  </head>
  <body id="home">

    <!-- begin:header -->
    <div class="header header-page">
      <!-- begin:topbar -->
      <div id="topbar" class="topbar topbar-page">
        <div class="container">
          <div class="row">
            <div class="col-sm-8">
              <div class="nav-utility">
                <span class="nav-item">A stylish Bootstrap theme for construction companies</span>
              </div><!-- .nav-utility -->
            </div><!-- .col-sm-8 -->
            <div class="col-sm-4 hidden-xs">
              <div class="nav-utility nav-right">
                <a href="#" class="nav-item"><i class="fa fa-twitter"></i></a>
                <a href="#" class="nav-item"><i class="fa fa-facebook"></i></a>
                <a href="#" class="nav-item"><i class="fa fa-linkedin"></i></a>
                <a href="#" class="nav-item"><i class="fa fa-pinterest"></i></a>
                <a href="#" class="nav-item"><i class="fa fa-envelope-o"></i></a>
              </div><!-- .nav-utility -->
            </div><!-- .col-sm-4 -->
          </div><!-- .row -->
        </div><!-- .container -->
      </div><!-- .topbar -->
      <!-- end:topbar -->

      <!-- begin:site-navigation -->
      <div class="site-header-affix-wrapper">
        <header id="masthead" class="site-header header-dark" role="banner">
          <div class="container">
            <div class="row">
              <div class="col-sm-3">
                <div class="site-branding">
                  <h1 class="site-title title-image"><a href="index-2.html" rel="home"><img src="assets/img/img-logo.png" alt="construction business" class="img-responsive"></a></h1>
                </div><!-- .site-branding -->
              </div><!-- .col-sm-3 -->

              <div class="col-sm-9">
                <nav id="site-navigation" class="main-navigation" role="navigation">
                  <button class="menu-toggle" type="button" aria-controls="primary-menu" aria-expanded="false"><span class="pe-7s-menu"></span><span class="sr-only">Primary Menu</span></button>

                  <div class="menu-testing-menu-container">
                    <ul id="primary-menu" class="menu nav-menu" aria-expanded="false">
                      <li class="menu-item"><a href="index-2.html">Home</a></li>
                      <li class="menu-item"><a href="about.html">About</a></li>
                      <li class="menu-item menu-item-has-children" aria-haspopup="true"><a href="#">Services</a>
                        <ul class="sub-menu">
                          <li class="menu-item"><a href="service.html">All Services</a></li>
                          <li class="menu-item"><a href="service-item.html">Construction Consultant</a></li>
                          <li class="menu-item"><a href="service-item.html">General Contracting</a></li>
                          <li class="menu-item"><a href="service-item.html">House Renovation</a></li>
                          <li class="menu-item"><a href="service-item.html">Construction Management</a></li>
                          <li class="menu-item"><a href="service-item.html">Design and Build</a></li>
                        </ul>
                      </li>
                      <li class="menu-item menu-item-has-children" aria-haspopup="true"><a href="#">Features</a>
                        <ul class="sub-menu">
                          <li class="menu-item"><a href="single.html">Single Post</a></li>
                          <li class="menu-item"><a href="single-fullwidth.html">Single Post Full Width</a></li>
                          <li class="menu-item"><a href="page-fullwidth.html">Page Full Width</a></li>
                          <li class="menu-item current-menu-item"><a href="page-sidebar.html">Page With Sidebar</a></li>
                          <li class="menu-item menu-item-has-children" aria-haspopup="true"><a href="#">Shortcodes</a>
                            <ul class="sub-menu">
                              <li class="menu-item"><a href="alert.html">Alert</a></li>
                              <li class="menu-item"><a href="progress.html">Progress Bar</a></li>
                              <li class="menu-item"><a href="social.html">Social Icon</a></li>
                              <li class="menu-item"><a href="button.html">Button &amp; Label</a></li>
                              <li class="menu-item"><a href="accordion.html">Accordion</a></li>
                              <li class="menu-item"><a href="tab.html">Tabs</a></li>
                              <li class="menu-item"><a href="pricing.html">Pricing</a></li>
                            </ul>
                          </li>
                          <li class="menu-item"><a href="typography.html">Typography</a></li>
                          <li class="menu-item"><a href="404.html">Not Found</a></li>
                          <li class="menu-item"><a href="comingsoon.html">Comingsoon</a></li>
                        </ul>
                      </li>
                      <li class="menu-item"><a href="project.html">Projects</a></li>
                      <li class="menu-item"><a href="blog.html">Blog</a></li>
                      <li class="menu-item"><a href="contact.html">Contact</a></li>
                    </ul>
                  </div>
                </nav><!-- #site-navigation -->
              </div><!-- .col-sm-9 -->
            </div><!-- .row -->
          </div><!-- .container -->
        </header><!-- #masthead -->
      </div><!-- .site-header-affix-wrapper -->
      <!-- end:site-navigation -->
    </div><!-- #header -->
    <!-- end:header -->

    <!-- begin:main-title -->
    <div class="main-title block-section padd-40-top padd-60-btm bg-grey">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h1 class="main-title-primary">Page With Sidebar</h1>
          </div><!-- .col-## -->
        </div><!-- .row -->
      </div><!-- .container -->
    </div><!-- .main-title -->
    <!-- end:main-title -->

    <!-- begin:breadcrumb -->
    <div class="breadcrumbs">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ol class="breadcrumb">
              <li><a href="#">Home</a></li>
              <li class="active">Page With Sidebar</li>
            </ol>
          </div><!-- .col-md-12 -->
        </div><!-- .row -->
      </div><!-- .container -->
    </div><!-- .site-breadcrumb -->
    <!-- end:breadcrumb -->

    <!-- begin:site-main -->
    <div class="site-main">
      <!-- begin:content-section -->
      <div class="content-section">
        <div class="container">
          <div class="row">
            <div class="col-md-9">
              <div class="entry-content">
                <article class="blog-entry">
                  <a href="#" class="blog-entry-thumbnail">
                    <img src="assets/img/img-content-03.jpg" alt="page with sidebar" class="img-responsive">
                  </a>
                  <div class="blog-entry-content">
                    <p>Far far away, behind the word mountains, far from the countries <a href="#" class="text-link">Vokalia and Consonantia</a>,
                      there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
                      A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                    <p>It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no
                      control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem
                      Ipsum decided to leave for the far World of Grammar.</p>
                    <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli,
                      but the Little Blind Text didn’t listen.</p>
                    <h2>She packed her seven versalia</h2>
                    <p>She packed her seven versalia, put her initial <em>into the belt and made herself</em> on the way. When she reached the first
                      hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet
                      Village and the subline of her own road, the Line Lane.</p>
                    <p>Pityful a rethoric question ran over her cheek, then <strong>she continued</strong> her way. On her way she met a copy. The
                      copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times.</p>
                    <p>And everything that was left from its origin would be the word "and" and the Little Blind Text should turn
                      around and return to its own, safe country.</p>
                    <h3>But nothing the copy</h3>
                    <p>But nothing the copy said could convince her and so it didn’t take long until a few insidious Copy Writers ambushed her,
                      <code>made her drunk</code> with Longe and Parole and dragged her into their agency, where they abused her for their projects again and again.</p>
                    <p>And if she hasn’t been rewritten, then they are still using her.</p>
                    <blockquote>
                      <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.<cite>Sam witchky</cite></p>
                    </blockquote>
                    <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by
                      their place and supplies it with the necessary regelialia.</p>
                    <h4>It is a paradisematic country</h4>
                    <p>It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing
                      has no control about the blind texts it is an almost unorthographic life One day.</p>
                    <p>However a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
                    <h5>The Big Oxmox advised her</h5>
                    <p>The Big Oxmox advised her not to do so, because <a href="#" class="text-link">there were</a> thousands of bad Commas,
                      wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen.</p>
                  </div><!-- .blog-entry-content -->
                </article><!-- .blog-entry -->

              </div><!-- .entry-content -->
            </div><!-- .col-## -->

            <div class="col-md-3">
              <div class="sidebar site-sidebar">
                <section id="search" class="widget widget_search">
                  <form class="search-form">
                    <div class="form-group">
                      <label for="search" class="sr-only">Search</label>
                      <input type="text" class="form-control search-field" placeholder="Search...">
                    </div><!-- .form-group -->
                    <button type="submit" class="btn btn-default search-submit"><i class="fa fa-search"></i></button>
                  </form>
                </section><!-- .widget_search -->

                <section id="recent-posts" class="widget widget_recent_entries">
                  <h2 class="widget-title">Recent Posts</h2>
                  <ul>
          					<li>
          				    <a href="#">How to plan building your dream house</a>
          						<span class="post-date">September 2, 2016</span>
          					</li>
        					  <li>
        				      <a href="#">Make your own library corner in your home</a>
        							<span class="post-date">September 2, 2016</span>
        						</li>
        					  <li>
        				      <a href="#">10 Simple elegant kitchen inspirations</a>
        							<span class="post-date">April 27, 2016</span>
        						</li>
            			</ul>
            		</section><!-- widget_recent_entries -->

                <section class="widget widget_popular_entries">
                  <h2 class="widget-title"><span>Popular Posts</span></h2>
                  <ul>
                    <li>
                      <a href="single.html" class="popular-entry-thumbnail">
                        <img src="assets/img/img-blog-01.jpg" alt="How to plan building your dream house">
                      </a>
                      <span class="popular-entry-title">
                        <a href="single.html" rel="bookmark" class="popular-entry-title-link">How to plan building your dream house</a>
                        <span class="popular-entry-date">August 17, 2016</span>
                      </span>
                    </li>
                    <li>
                      <a href="single.html" class="popular-entry-thumbnail">
                        <img src="assets/img/img-blog-02.jpg" alt="Make your own library corner in your home">
                      </a>
                      <span class="popular-entry-title">
                        <a href="single.html" rel="bookmark" class="popular-entry-title-link">Make your own library corner in your home</a>
                        <span class="popular-entry-date">July 23, 2016</span>
                      </span>
                    </li>
                    <li>
                      <a href="single.html" class="popular-entry-thumbnail">
                        <img src="assets/img/img-blog-03.jpg" alt="10 Simple elegant kitchen inspirations">
                      </a>
                      <span class="popular-entry-title">
                        <a href="single.html" rel="bookmark" class="popular-entry-title-link">10 Simple elegant kitchen inspirations</a>
                        <span class="popular-entry-date">May 8, 2016</span>
                      </span>
                    </li>
                  </ul>
                </section><!-- .widget_popular_entries -->

                <section class="widget widget_categories">
                  <h2 class="widget-title"><span>Categories</span></h2>
                  <ul>
                    <li><a href="archive.html">Property</a></li>
                    <li><a href="archive.html">Interior</a></li>
                    <li><a href="archive.html">Design</a></li>
                    <li><a href="archive.html">Inspirations</a></li>
                    <li><a href="archive.html">Business</a></li>
                    <li><a href="archive.html">Tips</a></li>
                  </ul>
                </section><!-- .widget_categories -->

                <section id="archive" class="widget widget_archive">
                  <h2 class="widget-title">Archive</h2>
                  <ul>
                    <li><a href="archive.html">September 2016</a>&nbsp;(2)</li>
                    <li><a href="archive.html">April 2016</a>&nbsp;(1)</li>
                    <li><a href="archive.html">January 2013</a>&nbsp;(5)</li>
                    <li><a href="archive.html">July 2009</a>&nbsp;(1)</li>
                    <li><a href="archive.html">June 2009</a>&nbsp;(1)</li>
                  </ul>
                </section><!-- .widget_archive -->

                <section class="widget widget_tag_cloud">
                  <h2 class="widget-title"><span>Tags</span></h2>
                  <div class="tagcloud">
                    <a href="#">design <span>52</span></a> <a href="#">interior <span>86</span></a>
                    <a href="#">thoughts <span>13</span></a> <a href="#">inspiring <span>7</span></a>
                    <a href="#">tips <span>64</span></a> <a href="#">elegant <span>9</span></a> <a href="#">diy <span>29</span></a>
                  </div>
                </section><!-- .widget_tag_cloud -->

              </div><!-- .sidebar -->
            </div><!-- .col-## -->
          </div><!-- .row -->
        </div><!-- .container -->
      </div><!-- .content-section -->
      <!-- end:content-section -->
    </div><!-- .site-main -->
    <!-- end:site-main -->

  	<!-- begin:footer -->
    <footer id="colophon" class="site-footer bg-black" role="contentinfo">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <section class="widget">
              <img src="assets/img/img-logo-footer.png" alt="bootstrap theme for construction companies" class="img-responsive marg-20-btm marg-20-top">
              <p>Construction company based on Orange, California. Construction was very sufficient in maintaining the integrity of project in terms of planning, scheduling, cost and quality.</p>
            </section><!-- .widget -->
          </div><!-- .col-## -->

          <div class="col-md-2 col-sm-6">
            <section class="widget">
              <h3 class="widget-title">Our Company</h3>
              <ul>
                <li><a href="#">About us</a></li>
                <li><a href="#">Service</a></li>
                <li><a href="#">Selected Work</a></li>
                <li><a href="#">Get in touch</a></li>
                <li><a href="#">Careers</a></li>
              </ul>
            </section><!-- .widget -->
          </div><!-- .col-## -->

          <div class="col-md-3 col-sm-6">
            <section class="widget">
              <h3 class="widget-title">Our Services</h3>
              <ul>
                <li><a href="#">Metal Roofting</a></li>
                <li><a href="#">Green Building</a></li>
                <li><a href="#">Construction Consultant</a></li>
                <li><a href="#">Construction Management</a></li>
                <li><a href="#">General Contracting</a></li>
              </ul>
            </section><!-- .widget -->
          </div><!-- .col-## -->

          <div class="col-md-3 col-sm-6">
            <section class="widget">
              <h3 class="widget-title">Our Contact</h3>
              <p>5252 E Walnut Ave, Orange, California, United States.</p>
              <p>hello@construction.me<br>+62 (0) 274 441 5005</p>
            </section>
          </div><!-- .col-## -->
        </div><!-- .row -->
      </div><!-- .container -->
    </footer><!-- #colophon -->
    <!-- end:footer -->

    <!-- begin:copyright -->
    <section id="copyright" class="copyright bg-black">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 copy-left">
             <p><a target="_blank" href="https://www.templateshub.net">Templates Hub</a>. All Right Reserved.</p>
          </div><!-- .col-sm-6 -->

          <div class="col-sm-6 copy-right">
            <ul class="social-icon">
              <li><a href="#" target="_blank" class="icon-twitter"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#" target="_blank" class="icon-facebook"><i class="fa fa-facebook-square"></i></a></li>
              <li><a href="#" target="_blank" class="icon-youtube"><i class="fa fa-youtube"></i></a></li>
              <li><a href="#" target="_blank" class="icon-instagram"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div><!-- .col-sm-6 -->
        </div><!-- .row -->
      </div><!-- .container -->
    </section><!-- #copyright -->
    <!-- begin:copyright -->


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="assets/plugins/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/plugins/parallax.min.js"></script>
    <script src="assets/js/navigation.js"></script>
    <script src="assets/plugins/jquery.easing.js"></script>
    <script src="assets/plugins/jquery.magnific-popup.min.js"></script>
    <script src="assets/plugins/imagesloaded.pkgd.min.js"></script>
    <script src="assets/plugins/isotope.pkgd.min.js"></script>
    <script src="assets/plugins/owl.carousel.min.js"></script>
    <script src="assets/js/script.min.js"></script>
  </body>

</html>
